/* COMMON FOR ALL TEASERS */
.teaser-wrapper {
    float: left;
}

.teaser-wrapper:last-child:after {
    clear: both;
}

.teaser-content {
    border-radius: 8px;
}

.teaser-content .teaser-content-section:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.teaser-content .teaser-content-section:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* TEASER SIZE DEPEND ON SCREENSIZE*/
@media only screen and (min-width: 1200px), only screen and (min-device-width: 1200px) {
    .teaser-3-cols {
        width: 33%;
    }

    .teaser-5-cols {
        width: 25%;
    }
}

@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
    .teaser-3-cols {
        width: 50%;
    }

    .teaser-5-cols {
        width: 33%;
    }
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
    .teaser-5-cols {
        width: 50%;
    }
}

@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
    .teaser-3-cols {
        width: 100%;
    }

    .teaser-5-cols {
        width: 100%;
    }
}
