/* WHITE_SHADOW_TEASER */
.white-smoke-teaser {
    font-family: "PT Sans", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

.white-smoke-teaser, .white-smoke-teaser a {
    color: #b0b3b8;
}

.white-smoke-teaser {
    padding: 0px 20px 20px 0px;
}

.white-smoke-teaser .teaser-content {
    background: #ececec;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.white-smoke-teaser .teaser-content .teaser-content-section.top-tools {
    padding-left: 20px;
}

.white-smoke-teaser .teaser-content .teaser-content-section {
    padding: 5px 15px;
}

.white-smoke-teaser .teaser-content .teaser-content-section:first-child {
    padding: 40px 30px;
}

.white-smoke-teaser .teaser-content .teaser-content-section:last-child {
    padding: 20px 30px 50px;
}

.white-smoke-teaser .teaser-content .header .input-as-text {
    color: #73879C;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.02);
}

/* When input has text content */
/*noinspection CssInvalidPseudoSelector*/
.white-smoke-teaser .teaser-content .header .input-as-text:placeholder-shown {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.white-smoke-teaser .teaser-content .header .input-as-text:hover {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.white-smoke-teaser .teaser-content .header .input-as-text:focus {
    color: #1abb9c;
    border-bottom-color: #1abb9c;
    /*#26B99A;*/
    /*#48c5aa;*/
    /*#73f9dd;*/
}

.white-smoke-teaser .teaser-content .header .input-as-text::-webkit-input-placeholder {
    color: #73879C;
    opacity: 0.3;
}

.white-smoke-teaser .teaser-content .body {
    text-align: left;
}

.white-smoke-teaser .teaser-content .body .description {
    padding: 10px 10%;
    opacity: 0.7;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
}

.white-smoke-teaser .teaser-content .body .description p {
    text-overflow: ellipsis;
}

.white-smoke-teaser a:hover {
    color: #73879C;
}

.white-smoke-teaser .highlight:hover {
    color: #1abb9c;
}

.white-smoke-teaser .bottom-tools {
    margin: 0 auto;
}

.white-smoke-teaser .bottom-tools .teaser-tool {
    display: inline-block;
    width: 30px;
}
