!.gitignore
**/*.iml
**/*.project
**/*.settings
**/*.idea
**/*.classpath
**/target
**/build
**/*.tern-project
build.properties
*.log
.sonar


/src/main/resources/static/node_modules/angular/*
!/src/main/resources/static/node_modules/angular/
!/src/main/resources/static/node_modules/angular/*.min.js

/src/main/resources/static/node_modules/gentelella/*
!/src/main/resources/static/node_modules/gentelella/
/src/main/resources/static/node_modules/gentelella/documentation
/src/main/resources/static/node_modules/gentelella/src

!/src/main/resources/static/node_modules/gentelella/production/
/src/main/resources/static/node_modules/gentelella/production/js
!/src/main/resources/static/node_modules/gentelella/production/images

!/src/main/resources/static/node_modules/gentelella/vendors
!/src/main/resources/static/node_modules/**/dist
!/src/main/resources/static/node_modules/**/build
/src/main/resources/static/node_modules/**/assets
/src/main/resources/static/node_modules/**/skins
/src/main/resources/static/node_modules/**/lib
/src/main/resources/static/node_modules/**/spec
/src/main/resources/static/node_modules/**/grunt*
/src/main/resources/static/node_modules/**/less
/src/main/resources/static/node_modules/**/example*
/src/main/resources/static/node_modules/**/samples
/src/main/resources/static/node_modules/**/templates
/src/main/resources/static/node_modules/**/themes
/src/main/resources/static/node_modules/**/src
/src/main/resources/static/node_modules/**/docs
/src/main/resources/static/node_modules/**/support
/src/main/resources/static/node_modules/**/test
/src/main/resources/static/node_modules/**/scss
/src/main/resources/static/node_modules/**/bower_components

/src/main/resources/static/node_modules/**/_*
/src/main/resources/static/node_modules/**/.*
/src/main/resources/static/node_modules/**/*.json
/src/main/resources/static/node_modules/**/*.md
/src/main/resources/static/node_modules/**/*.html
/src/main/resources/static/node_modules/**/*.ico
/src/main/resources/static/node_modules/**/*.scss


/src/main/resources/static/node_modules/**/?runtfile.js
/src/main/resources/static/node_modules/**/?ulpfile.js
/src/main/resources/static/node_modules/**/?icense*
/src/main/resources/static/node_modules/**/LICENSE*
/src/main/resources/static/node_modules/**/AUTHORS*


!/src/main/resources/static/node_modules/**/*.min.js
!/src/main/resources/static/node_modules/**/*.min.css
src/main/resources/static/node_modules
.gradle