/* TEASER */
#lnChromeExtExpressionViewer {
    width: 100%;
    height: 100%;
    background: #444;
}
#lnChromeExtExpressionViewer .expression-spatial-white {
    font-family: "PT Sans", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    line-height: 1em;
}

#lnChromeExtExpressionViewer .expression-spatial-white,#lnChromeExtExpressionViewer .expression-spatial-white a {
    color: #b0b3b8;
}

#lnChromeExtExpressionViewer .expression-spatial-white {
    padding: 0px 5px 6px 5px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content {
    background: #ececec;
    /*#bcc9d7;*/
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);*/
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px 2px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .teaser-content-section {
    /*padding: 5px 2%;*/
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .teaser-content-section:first-child {
    padding: 6px 2% 0px 2%;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .teaser-content-section:last-child {
    padding: 6px 2% 7px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .teaser-content-section.top-tools {
    padding-right: 6px;
}

/* RATING */
#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .rating-container, #lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .rating-empty-container {
    line-height: 14px;
    padding-top: 2px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content {
    font-size: 12px !important;
}
#lnChromeExtExpressionViewer .expression-spatial-white .btn-xs{
    padding: 0px 0px 0px 10px;
    cursor: pointer;
    margin: 0px;
    min-height: 1em;
    height: 1em;
}
/* EXPRESSION-TEXT ================================================================================= */
#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .expression-text {
    padding-left: 2%;
    padding-right: 2%;
    min-height: 1em;

    color: #73879C;
    text-align: left;
    font-size: 1.05em;
    font-weight: bold;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .expression-text .input-as-text {
    font-size: 0.95em; /* Same as normal text */
    margin-top: 6px;
    border-color: rgba(0, 0, 0, 0.02);
}

/*noinspection CssInvalidPseudoSelector*/
#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .expression-text .input-as-text:placeholder-shown {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .expression-text .input-as-text:hover {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .expression-text .input-as-text:focus {
    color: #1abb9c;
    border-bottom-color: #1abb9c;
    /*#26B99A;*/
    /*#48c5aa;*/
    /*#73f9dd;*/
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .expression-text .input-as-text::-webkit-input-placeholder {
    color: #73879C;
    opacity: 0.3;
}

/* SENSE GROUP ================================================================================= */
#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-group {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-group:first-child {
    padding-top: 6px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-group:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .lexical-type {
    text-transform: lowercase;
    font-size: 1em;
    color: #48c5aa;
}

/* SENSE - EXPLANATION ================================================================================= */
#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense {
    padding-top: 5px;
    padding-bottom: 5px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense:not(:last-child) {
    margin-bottom: 4px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-explanation {
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif; /* No 'PT Sans' because we need to support UTF-8 chars. */
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-explanation {
    /*padding-left: 2%;*/
    font-size: 0.95em;
    color: #73879C;
}

/* SENSE - IMAGE ================================================================================= */
#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-image-wrapper, #lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-video {
    border: 1px solid rgba(0, 0, 0, 0.025);
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3);
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 1px 0px rgba(255, 255, 255, 0.3);*/
}

/* SENSE - IMAGE-CAROUSEL ================================================================================= */
#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .images-carousel {
    height: 200px;
    margin: 0px auto;
    border-top: 0px;
    border-bottom: 0px;
    box-shadow: 0 0 0 white;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .images-carousel li {
    height: auto;
    padding: 0px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .images-carousel li:not(:last-child) {
    padding-right: 5px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .images-carousel img {
    display: block;
    max-width: 800px;
    max-height: 200px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-image-wrapper .sense-image {
    max-width: 100%;
    max-height: 200px;
}

/* SENSE - EXAMPLE ================================================================================= */
#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-example {
    display: list-item;
    margin-left: 1.3em;
    list-style-type: circle;

    font-size: 0.95em;
    max-width: 100%;
    max-height: 200px;
    color: #b0b3b8;
    opacity: 0.7;
    padding-top: 5px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .sense-example:first-letter {
    text-transform: capitalize;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .body {
    text-align: left;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .body .description {
    opacity: 0.7;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
}

#lnChromeExtExpressionViewer .expression-spatial-white .teaser-content .body .description p {
    text-overflow: ellipsis;
}

#lnChromeExtExpressionViewer .expression-spatial-white a:hover {
    color: #73879C;
}

#lnChromeExtExpressionViewer .expression-spatial-white .highlight:hover {
    color: #1abb9c;
}

#lnChromeExtExpressionViewer .expression-spatial-white .bottom-tools {
    margin: 0 auto;
}

#lnChromeExtExpressionViewer .expression-spatial-white .bottom-tools .teaser-tool {
    display: inline-block;
    width: 30px;
}
