<div  id="lnChromeExtExpressionViewer">
    <div id="overlay"
         style="z-index: 2147483646; width: 100%; height: 100%; position: fixed; left: 0; top: 0;"
         onclick="hideModal(event)">
    </div>
    <div class="expression-spatial-white teaser-wrapper">
        <div v-if="expression" class="teaser-content">
                <div class="teaser-content-section top-tools expression-text">

                    <div class="pull-left">
                        {{expression.text}}
                    </div>
                    <div class="pull-right">
                        <a onclick="hideModal(event)" class="btn-xs"><i class="fa fa-close"></i></a>
                    </div>
                    <div class="pull-right">
                        <a v-on:click="playSound" class="btn-xs"><i class="fa fa-volume-up"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="teaser-content-section" v-if="expression.errorMessage">
                    <div class="col-xs-12">
                        <span class="error-message">{{expression.errorMessage}}</span>
                    </div>
                </div>
                <div class="teaser-content-section" v-if="!expression.errorMessage">
                    <div v-for="(senseGroup, index) in expression.senseGroups"
                         class="sense-group">
                        <div>
                            <span class="lexical-type" v-if="senseGroup.lexicalType">{{senseGroup.lexicalType}}</span>
                            <span class="pronunciation" v-for="pronunciation in senseGroup.pronunciations">/{{pronunciation.phoneticSpelling}}/</span>
                        </div>

                        <div v-for="sense in senseGroup.senses" class="sense" v-if="sense">
                            <div class="sense-explanation">{{sense.shortExplanation || sense.explanation}}</div>
                            <div v-if="sense.photos && sense.photos.length == 1 && sense.mainPhoto.fileItemId"
                                 class="sense-image-wrapper static-width-center-container">
                                <img :src="'http://'+contextPathResourceServer + '/api/files/'+sense.mainPhoto.fileItemId"
                                     class="sense-image image-content"/>
                            </div>
                            <div v-if="sense.photos && sense.photos.length > 1"
                                 class="sense-image-wrapper static-width-center-container">
                                <div class="images-carousel">
                                    <ul>
                                        <li v-for="photo in sense.photos" v-if="photo.fileItemId">
                                            <a href="">
                                                <div class="middle-wrapper">
                                                    <div class="middle-vertical">
                                                        <div class="middle-horizontal img-with-close-wrapper">
                                                            <img :src="'http://'+contextPathResourceServer + '/api/files/'+photo.fileItemId">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sense-video static-width-center-container" v-if="sense.videos && sense.videos.length > 0">
                                <iframe class="" v-if="sense.videos[0].externalUrl"
                                        width="100%" height="200"
                                        :src="'https://www.youtube.com/embed/'+sense.videos[0].externalUrl" frameborder="0"
                                        allowfullscreen>
                                </iframe>
                            </div>
                            <div v-for="example in sense.examples.slice(0,2)"
                                 class="sense-example">
                                {{example.text}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="teaser-content-section text-center">-->
                    <!--<div class="col-xs-12">-->
                        <!--<a href="" ng-click="service.modeEdit(expression)" class="more">-->
                            <!--<i class="fa fa-chevron-down"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
    </div>
</div>