/* COMMON FOR ALL TEASERS */

/**
 * When using .teaser-float-wrapper with following structure:
 *      ITEM.teaser-float-wrapper.teaser-n-cols
*/

#lnChromeExtExpressionViewer .teaser-float-wrapper {
    float: left;
}

#lnChromeExtExpressionViewer .teaser-float-wrapper:last-child:after {
    clear: both;
}

#lnChromeExtExpressionViewer .teaser-content {
    border-radius: 8px;
}

#lnChromeExtExpressionViewer .teaser-content .teaser-content-section:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#lnChromeExtExpressionViewer .teaser-content .teaser-content-section:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}