/*https://designshack.net/articles/css/masonry/*/
#container {
    width: 1200px;
    margin: 0 auto;
}

#myContent {
    -moz-column-count: 6;
    -moz-column-gap: 0px;
    -webkit-column-count: 6;
    -webkit-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;
    width: 1200px;
}

#myContent .pin {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}