[tnmk-dropdown] li {
    list-style: none;
}

[tnmk-dropdown].active .tnmk-dropdown-body {
    display: inherit;
    position: absolute;
    z-index: 1;
}

[tnmk-dropdown].inactive .tnmk-dropdown-body {
    display: none;
}