/* WHITE_SHADOW_TEASER */
.white-shadow-teaser, .white-shadow-teaser a {
    color: #b0b3b8;
}

.white-shadow-teaser {
    width: 25%;
    padding: 0px 20px 20px 0px;
}

.white-shadow-teaser .teaser-content {
    background: #f9f9f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.white-shadow-teaser .teaser-content .teaser-content-section.top-tools {
    padding-left: 20px;
}

.white-shadow-teaser .teaser-content .teaser-content-section {
    padding: 5px 15px;
}

.white-shadow-teaser .teaser-content .teaser-content-section:first-child {
    padding-top: 15px;
}

.white-shadow-teaser .teaser-content .teaser-content-section:last-child {
    padding-bottom: 25px;
}

.white-shadow-teaser .teaser-content .header .input-as-text {
    color: #73879C;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.02);
}

/* When input has text content */
/*noinspection CssInvalidPseudoSelector*/
.white-shadow-teaser .teaser-content .header .input-as-text:placeholder-shown {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.white-shadow-teaser .teaser-content .header .input-as-text:focus {
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

.white-shadow-teaser .teaser-content .header .input-as-text::-webkit-input-placeholder {
    color: #73879C;
    opacity: 0.3;
}

.white-shadow-teaser .teaser-content .body {
    text-align: left;
}

.white-shadow-teaser .teaser-content .body .description {
    padding: 10px 15%;
    opacity: 0.7;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
}