/* ------------------------------------------------------------------------------------
 * |   CENTRAL DIV
 * |   http://tutorialzine.com/2010/03/centering-div-vertically-and-horizontally
 * ------------------------------------------------------------------------------------
 */

/**
Note that this only works when the element container also has its width (or min-width) property set. When you want the element's width to be dynamic (based on its contents), see the chosen answer.
http://stackoverflow.com/questions/618097/how-do-you-easily-horizontally-center-a-div-using-css/618104#618104

If you want to center a dynamic width, see this http://stackoverflow.com/questions/618097/how-do-you-easily-horizontally-center-a-div-using-css
Note: for the image inside the container, must set its display is block
*/
.static-width-center-container {
    margin-left: auto;
    margin-right: auto;
}

.static-width-center-container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/**
Used for the container with static width and the position is absolute or fixed
*/
.static-width-center-fixed-container {
    margin: 0px auto;
    left: 0;
    right: 0;
}

.dynamic-width-center-container {

}