<!-- Copy from topic-edit-expressions.html -->
<div class="expression-spatial-white teaser-wrapper masonry-item" ng-repeat="expression in service.expressions track by $index">
    <div class="teaser-content"
         ng-if="service.editingExpression != expression"
         ng-include="contextPathClient + '/app/expression/expressions-search-items-teaser.html'">
    </div>
    <div class="row expression-item"
         ng-if="service.editingExpression == expression"
         ng-include="contextPathClient + '/app/topic/topic-edit-expression-editor.html'">
    </div>
</div>