<div class="col-xs-12" ng-repeat="video in sense.videos">
    <div class="row">
        <div class="col-xs-12">
            Video
        </div>
    </div>
    <div class="example row">
        <div class="col-xs-11">
            <input ng-model="video.externalUrl"
                   ng-focus="service.topicCompositionEditor.changeItem(video)"
                   complete-input="service.topicCompositionEditor.changeItem(video)"
                   class="input-as-text dark-theme" placeholder="Video Youtube ID (Not the whole URL, just the ID)">
            </input>
            <!--View here to enable sce http://stackoverflow.com/questions/20045150/how-to-set-an-iframe-src-attribute-from-a-variable-in-angularjs-->
            <!-- The video must be the embed URL, for example: https://www.youtube.com/embed/ZwKhufmMxko-->
            <iframe ng-if="video.externalUrl"
                    width="560" height="315" ng-src="{{'https://www.youtube.com/embed/'+video.externalUrl}}" frameborder="0" allowfullscreen>
            </iframe>

            <!--<video controls="true"-->
            <!--width="400">-->
            <!--<source ng-src="{{video.externalUrl}}&html5=true" type="video/mp4">-->
            <!--<source ng-src="https://www.youtube.com/watch?v=B4ZSGQW0UMI&html5=true" type="video/mp4">-->
            <!--Your browser does not support HTML5 video.-->
            <!--</video>-->
        </div>
        <div class="col-xs-1 text-left">
            <a href="" ng-click="service.topicCompositionEditor.removeItemAndAddSkeleton(video)"><i class="fa fa-trash-o dark-theme"></i></a>
        </div>
    </div>
</div>