<div ng-repeat="questionWithPracticeResult in practiceService.expressionTest.askedItems"
     class="col-xs-12 col-sm-6 col-md-4">
    <div class="row expression-item">
        <div class="col-xs-12">
            <div class="expression-teaser row">
                <div class="col-xs-12">
                    <div class="header row">
                        <div class="pull-left">
                            <button ng-click="topicEditService.modeEdit(expression)" class="btn btn-xs btn-success"><i class="fa fa-star"></i></button>
                        </div>
                        <div class="pull-left" style="width: 70%">
                            <input ng-model="questionWithPracticeResult.answer" class="input-as-text"
                                   ng-class="practiceService.expressionTest.answered && (questionWithPracticeResult.answer == questionWithPracticeResult.question.fromExpression.text) ?
                                   'text-success':
                                   practiceService.expressionTest.answered ? 'text-danger': ''"/>
                            <span class="question-answer" ng-if="practiceService.expressionTest.answered">{{questionWithPracticeResult.question.fromExpression.text}}</span>
                        </div>
                        <div class="pull-right">
                            <a class="btn-xs" href=""
                               ng-show="practiceService.expressionTest.answered && !(practiceService.isPlayingSound)"
                               ng-click="practiceService.playSound(questionWithPracticeResult.question.fromExpression)">
                                <i class="fa fa-volume-up"></i>
                            </a>
                            <a class="btn-xs" href=""
                               ng-show="practiceService.expressionTest.answered && practiceService.isPlayingSound"
                               ng-click="practiceService.stopSound(questionWithPracticeResult.question.fromExpression)">
                                <i class="fa fa-volume-off"></i>
                            </a>
                            <a class="btn-xs" href=""
                               ng-click="practiceService.favour(questionWithPracticeResult.question.fromExpression, 1)">
                                <i class="fa fa-star-o"></i> {{questionWithPracticeResult.question.fromExpression.favourite}}
                            </a>
                        </div>
                        <div class="pull-right">
                            <!--{{questionWithPracticeResult.expressionPracticeResult.sumLatestAnswerPoint}}-->
                            <span ng-repeat="ianswerResult in questionWithPracticeResult.expressionPracticeResult.answers track by $index">
                                <i class="answer-point fa " ng-class="ianswerResult > 0 ? 'fa-dot-circle-o text-success': 'fa-circle-o text-danger'"></i>
                            </span>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="body row">
                        <div class="col-xs-12">
                            <div ng-repeat="senseGroup in questionWithPracticeResult.question.fromExpression.senseGroups  | limitTo: 2"
                                 class="sense-group row">
                                <div class="col-xs-12">
                                    <div ng-show="senseGroup.lexicalType" class="lexical-type text-center row">{{senseGroup.lexicalType}}</div>
                                    <div ng-repeat="sense in senseGroup.senses  | limitTo: 2" class="sense row">
                                        <div class="col-xs-12">
                                            <div class="sense-header row">
                                                <div class="col-xs-12 explanation">{{sense.shortExplanation || sense.explanation}}</div>
                                            </div>
                                            <div class="image-border row" ng-if="sense.mainPhoto.fileItemId">
                                                <img class="sense-image image-content" ng-src="{{contextPath + '/api/files/'+sense.mainPhoto.fileItemId}}"/>
                                            </div>
                                            <div class="sense-explanation row" ng-show="sense.shortExplanation">
                                                <div class="col-xs-12">
                                                    {{sense.explanation}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>