<div class="col-xs-12">
    <div class="row">
        <div ng-repeat="questionWithPracticeResult in service.expressionTest.askedItems"
             ng-init="expression = questionWithPracticeResult.question.fromExpression"
             class="col-xs-12 col-sm-6 col-md-4">
            <div class="row expression-item" ng-if="service.questionType == 'EXPRESSION_RECALL'" ng-include="contextPath + '/app/practice/practice-questions-expression-recall.html'"></div>
            <div class="row expression-item" ng-if="service.questionType == 'FILL_BLANK'" ng-include="contextPath + '/app/practice/practice-questions-expression-fill-blank.html'"></div>
            <div class="row expression-item" ng-if="service.editingExpression" ng-include="contextPath + '/app/topic/topic-edit-expression-editor.html'">
            </div>
        </div>
    </div>
</div>