<!-- TOP MENU -->
<!--<div class="row" ng-include="contextPathClient + '/app/practice/practice-topics-filter.html'"></div>-->
<!--<div class="ln_solid" style="margin: 10px 0px;"></div>-->
<!-- Topic Content -->
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="width: 100%">
                    Topic filter
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!--Topic Filter-->
                <div class="question-type row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <form class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="col-md-4 col-sm-6 col-xs-12 control-label">
                                    Question Types
                                </label>

                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="service.questionType" value="FILL_BLANK"> Filling Blank
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="service.questionType" value="EXPRESSION_RECALL"> Expression Recall
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row" ng-include="contextPathClient + '/app/practice/practice-filter-topics.html'"></div>
                <div class="ln_solid"></div>
                <!--Categories-->
                <!--<div class="row" ng-include="contextPathClient + '/app/practice/practice-filter-categories.html'"></div>-->
                <!--<div class="ln_solid"></div>-->

                <!-- Topic Detail -->
                <div class="text-danger alert alert-danger" ng-show="unexpectedMessage">
                    {{unexpectedMessage}}
                </div>
                <div class="text-danger alert alert-danger" ng-show="userErrorMessage">
                    {{userErrorMessage}}
                </div>
                <div class="questions-limit row">
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group has-feedback">
                        <form class="form-horizontal form-label-left">

                            <label class="control-label col-xs-4">Total Questions </label>

                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="service.totalQuestions"/>
                                    <span class="input-group-btn">
                                        <button type="submit"
                                                ng-disabled="isRunning"
                                                ng-click="service.filterQuestions()"
                                                class="btn btn-success" title="Filter Questions"><i class="fa fa-search"></i></button>
                                    </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 cold-sm-6 col-md-8">
                        <button ng-click="service.submitAnswers(service.expressionTest)"
                                type="button"
                                ng-disabled="service.expressionTest.answered"
                                class="btn btn-success">
                            Submit Answers
                        </button>
                    </div>
                </div>
                <div class="row" ng-include="contextPathClient + '/app/practice/practice-questions.html'"></div>
                <div class="ln_solid"></div>

                <div class="row">
                    <div class="col-xs-12" ng-include="contextPathClient + '/app/practice/practice-questions-submit-actions.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>