<!--<div ng-repeat="questionWithPracticeResult in service.expressionTest.askedItems"-->
<!--class="col-xs-12 col-sm-6 col-md-4">-->
<!--<div ng-init="expression = questionWithPracticeResult.question.fromExpression"-->
<!--class="row expression-item">-->
<div class="col-xs-12">
    <div class="expression-teaser row">
        <div class="col-xs-12">
            <div class="header row">
                <div class="pull-left" style="width: 80%">
                    <input ng-model="questionWithPracticeResult.answer" class="input-as-text"
                           ng-class="service.expressionTest.answered && (questionWithPracticeResult.answer == questionWithPracticeResult.question.fromExpression.text) ?
                                   'text-success':
                                   service.expressionTest.answered ? 'text-danger': ''"/>
                    <span class="question-answer" ng-if="service.expressionTest.answered">{{questionWithPracticeResult.question.fromExpression.text}}</span>
                </div>
                <div class="pull-right" ng-if="service.expressionTest.answered">
                    <a href="" ng-click="service.modeEdit(expression)" class="btn-xs highlight" title="{{$index+1}}"><i class="fa fa-edit"></i></a>
                </div>
                <div class="pull-right">
                    <a class="btn-xs" href=""
                       ng-show="service.expressionTest.answered && !(service.isPlayingSound)"
                       ng-click="service.playSound(questionWithPracticeResult.question.fromExpression)">
                        <i class="fa fa-volume-up"></i>
                    </a>
                    <a class="btn-xs" href=""
                       ng-show="service.expressionTest.answered && service.isPlayingSound"
                       ng-click="service.stopSound(questionWithPracticeResult.question.fromExpression)">
                        <i class="fa fa-volume-off"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12" ng-include="contextPathClient + '/app/topic/expression-answers.html'"></div>
                <div class="col-xs-12" ng-include="contextPathClient + '/app/topic/expression-favourite.html'"></div>
            </div>
            <div class="body row">
                <div class="col-xs-12">
                    <div ng-repeat="senseGroup in questionWithPracticeResult.question.fromExpression.senseGroups  | limitTo: 2"
                         class="sense-group row">
                        <div class="col-xs-12">
                            <div ng-show="senseGroup.lexicalType" class="lexical-type text-center row">{{senseGroup.lexicalType}}</div>
                            <div ng-repeat="sense in senseGroup.senses  | limitTo: 2" class="sense row">
                                <div class="col-xs-12">
                                    <div class="sense-header row">
                                        <div class="col-xs-12 explanation">{{sense.shortExplanation || sense.explanation}}</div>
                                    </div>
                                    <div ng-if="sense.photos.length == 1 && sense.mainPhoto.fileItemId"
                                         ng-include="contextPathClient + '/app/topic/topic-edit-expression-teaser-one-photo.html'"
                                         class="image-border row">
                                    </div>
                                    <div ng-if="sense.photos.length > 1"
                                         ng-include="contextPathClient + '/app/topic/topic-edit-expression-teaser-many-photos.html'"
                                         class="image-border row">
                                    </div>
                                    <div class="sense-explanation row" ng-show="sense.shortExplanation">
                                        <div class="col-xs-12">
                                            {{sense.explanation}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->