<style>
    .plain-text {
        white-space: pre-wrap;
    }

    .result-answer {
        font-weight: bolder;
        color: #00AA88;
    }

    input.wrong-expression {
        color: #c12e2a;
    }

    input.correct-expression {
        color: #00AA88;
    }

    .search-highlight {
        color: #00AA88;
    }
</style>
<div class="page-title">
    <div class="title_left">
        <h3>Test
            <!--<small>Editing</small>-->
        </h3>
    </div>

</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <!-- Filter -->
        <div class="x_panel">
            <div class="x_title">
                <h2>Filter
                    <small>different form elements</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li style="float: right">
                        <a><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix">

                </div>
            </div>
            <div class="x_content">
                <div class="row">
                    <!-- LESSONS -->
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="flat" name="table_records" ng-model="lessonTestService.lessonFilter.selectAll">
                                    </th>
                                    <th colspan="2">
                                        <input type="text"
                                               ng-model="lessonTestService.lessonFilter.filterValue"
                                               ng-change="lessonTestService.lessonFilter.filterItems()"
                                               placeholder="Search Lessons" class="form-control"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lesson in lessonTestService.lessonFilter.filteredItems">
                                    <td>
                                        <input type="checkbox" class="flat" name="table_records" ng-model="lesson.checked" ng-change="lessonTestService.lessonFilter.selectItem(lesson)">
                                    </td>
                                    <td>
                                        <span ng-hide="lesson.resultWithHighlightText">{{lesson.name}}</span>
                                        <span ng-show="lesson.resultWithHighlightText" ng-bind-html="lesson.resultWithHighlightText"></span>
                                    </td>
                                    <td>
                                        <a href="#!/expression-item-edit?lessonId={{lesson.id}}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="tagsinput" style="width: auto; min-height: 100px; height: 100px;">
                                        <span class="tag" ng-repeat="selectedItem in lessonTestService.lessonFilter.selectedItems">
                                            <span>{{selectedItem.name}}&nbsp;&nbsp;</span>
                                            <a href="" ng-click="lessonTestService.lessonFilter.unselectItem(selectedItem)" title="Removing tag">x</a>
                                        </span>

                            <div class="tags_clear"></div>
                        </div>
                    </div>
                    <!-- TOPICS -->
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="flat" name="table_records" ng-model="lessonTestService.topicFilter.selectAll">
                                    </th>
                                    <th>
                                        <input type="text" ng-model="lessonTestService.topicFilter.filterValue"
                                               ng-change="lessonTestService.topicFilter.filterItems()"
                                               placeholder="Search Topics" class="form-control"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lesson in lessonTestService.topicFilter.filteredItems">
                                    <td>
                                        <input type="checkbox" class="flat" name="table_records" ng-model="lesson.checked" ng-change="lessonTestService.topicFilter.selectItem(lesson)">
                                    </td>
                                    <td>
                                        <span ng-hide="lesson.resultWithHighlightText">{{lesson.name}}</span>
                                        <span ng-show="lesson.resultWithHighlightText" ng-bind-html="lesson.resultWithHighlightText"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="tagsinput" style="width: auto; min-height: 100px; height: 100px;">
                                        <span class="tag" ng-repeat="selectedItem in lessonTestService.topicFilter.selectedItems">
                                            <span>{{selectedItem.name}}&nbsp;&nbsp;</span>
                                            <a href="" ng-click="lessonTestService.topicFilter.unselectItem(selectedItem)" title="Removing tag">x</a>
                                        </span>

                            <div class="tags_clear"></div>
                        </div>
                    </div>

                </div>
                <div class="ln_solid"></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form class="form-horizontal">
                        <div class="col-md-5 form-group">
                            <label class="control-label col-md-6">Questions </label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="lessonTestService.totalQuestions"/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <button type="submit" class="btn btn-success" ng-click="lessonTestService.filterExpressionItems()">Start Testing</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Expression Items -->
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Expression Items
                </h2>
                <!--<ul class="nav navbar-right panel_toolbox">-->
                <!--<li>-->
                <!--<a class="close-link"><i class="fa fa-plus" ng-click="lessonTestService.addTopic()"></i></a>-->
                <!--</li>-->
                <!--</ul>-->
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div ng-show="userMessage" class="alert alert-error">
                    <i class="fa fa-warning"></i> {{userMessage}}
                </div>

                <!-- Expression Items Table -->
                <div class="table-responsive">
                    <!--<button ng-click="lessonTestService.addExpressionItem()">Add expression item</button>-->
                    <table class="table-input-as-text">
                        <tr class="expression-item-row" ng-repeat="expressionItem in lessonTestService.expressionsTest.expressionItemsForAsks">
                            <td style="width: 25px">
                                <span style="padding-left:5px; line-height: 25px;">{{$index + 1}}</span>
                            </td>
                            <td style="width: 20px">
                                <a href=""
                                   ng-click="lessonTestService.favourite(expressionItem)">
                                    <span style="line-height: 24px;"><i class="fa " ng-class="expressionItem.userPoints[USER_ID].favourite == -1 ? 'fa-star favourite':'fa-star-o no-favourite'"></i></span>
                                </a>
                            </td>
                            <td>
                                <input type="text"
                                       ng-class="expressionItem.answerResult == -1 ? 'wrong-expression' : expressionItem.answerResult == 1 ? 'correct-expression': ''"
                                       ng-model="expressionItem.expressionAnswer"
                                       placeholder="expression {{$index + 1}}"
                                       class="cell-input expression"/>
                                <span class="text-inform result-answer" ng-show="expressionItem.answerResult">{{expressionItem.expression}}</span>
                            </td>
                            <td style="width: 35px">
                                <a href=""
                                   ng-show="expressionItem.answerResult"
                                   ng-click="lessonTestService.playSound(expressionItem)">
                                    <i class="fa fa-volume-up"></i>
                                </a>
                            </td>
                            <td>
                                <table width="100%">
                                    <tr ng-repeat="meaning in expressionItem.meanings">
                                        <td style="width: 60px;">
                                            <span class="part-of-speech">{{meaning.wordType}}</span>
                                        </td>
                                        <td>
                                            <!--<input type="text" ng-model="meaning.explanation" ng-change="lessonTestService.addExpressionMeaningIfNecessary(expressionItem, meaning)"/>-->
                                            <div class="plain-text"><span>{{meaning.explanation}}</span></div>

                                            <table style="width: 100%" ng-show="expressionItem.answerResult">
                                                <tr ng-repeat="example in meaning.examples track by $index" ng-if="$index < 5">
                                                    <td style="width: 35px"><label class="example {{meaning.explanation? 'active-meaning': 'inactive-meaning'}}  {{example? 'active-example': 'inactive-example'}}" ng-show="$index == 0">e.g. </label></td>
                                                    <td>
                                                        <div class="plain-text">{{example}}</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 100px">
                                            <!--{{lessonTestService.getAnswers(expressionItem)}}-->
                                            <span ng-repeat="ianswerResult in lessonTestService.getLatestFiveAnswers(expressionItem) track by $index">
                                                <i class="fa " ng-class="ianswerResult > 0 ? 'fa-check-circle-o text-success': 'fa-times-circle-o text-danger'"></i>
                                            </span>

                                            <!--{{expressionItem.userPoints[USER_ID].answers}}-->
                                        </td>
                                        <td style="width: 20px;margin-left: 5px;">
                                            <span ng-show="$index == 0">
                                                <i class="fa fa-check text-success" ng-show="expressionItem.answerResult == 1"></i>
                                                <i class="fa fa-times text-danger" ng-show="expressionItem.answerResult == -1"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="ln_solid"></div>
                <!--Save button-->
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <button type="submit" class="btn btn-success" ng-disabled="lessonTestService.expressionsTest.answered" ng-click="lessonTestService.submitAnswers(lessonTestService.expressionsTest)">Submit Answers</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>