
.table-input-as-text {
    width: 100%;
}

.table-input-as-text > thead {
    color: #F1F1F1;
    background-color: rgba(52, 73, 94, 0.94);
}

.table-input-as-text > thead a {
    color: #FFFFFF;
}

.table-input-as-text > thead > tr > th {
    padding: 8px;
    /*line-height: 1.42857143;*/
}

.table-input-as-text > tbody > tr:first-child > td {
    padding-top: 5px;
}

.table-input-as-text > tbody > tr > td {
    padding: 0px;
}

.table-input-as-text td {
    vertical-align: top;
}

.table-input-as-text input, .table-input-as-text textarea, .input-as-text {
    width: 100%;
    color: rgb(115, 135, 156);
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    box-shadow: none;
    line-height: 20px;
}

.input-as-text {
    font-size: inherit;
    line-height: inherit;
    background: transparent;
}
.input-as-text:hover {
    border-bottom: 1px dotted #ECF0F1;
}


.table-input-as-text ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ECF0F1;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
}

.table-input-as-text input:not(:focus), .table-input-as-text textarea:not(:focus), .input-as-text:not(:focus) {
    padding: 1px 1px 0px 0px; /* Top-Right-Bottom-Left: The bottom has border, so it doesn't need padding anymore*/
    border-width: 0px 0px 1px 1px;
    border-style: dotted;
    border-color: #ECF0F1 #ECF0F1 #F1F1F1 #F7F7F7;
}


.table-input-as-text input:focus, .table-input-as-text textarea:focus, .input-as-text:focus {
    padding: 1px 0px 0px 0px; /* The bottom has border, so it doesn't need padding anymore*/
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
}

.table-input-as-text .angucomplete-dropdown {
    background-color: #fcf8e3;
}

.expression-item-row {
    border-bottom: 1px solid #F1F1F1;
}

.expression {
    /*font-weight: bolder;*/
}

.expression-type {
    font-weight: normal;
}

.example {
    color: rgb(205, 210, 220);
    font-style: italic;
    font-weight: lighter;
}

.example.active-meaning {
    color: rgb(195, 200, 210);
    font-weight: normal;
}

.example.active-example {
    color: rgb(115, 135, 156);
    font-weight: normal;
}

.angucomplete-dropdown .highlight {
    color: #26B99A;
}

.part-of-speech {
    text-overflow: ellipsis;
    text-transform: lowercase;
}

.transparent {
    opacity: 0;
}

.favourite {
    color: #26B99A; /*#FFD700;*/
}

.no-favourite {
    color: #E4E7EA;
}

.tag:after {
    border-left: 0px; /* Fix error when selecting tag in expression-item-test.html*/
}