<div tnmk-dropdown>
    <a class="tnmk-dropdown-header btn-xs" href='' title=''>
        <i class="fa fa-star"></i> {{expression.favourite}}
    </a>

    <div class="tnmk-dropdown-body">
        <div class="">
            <a class="btn-xs" href=""
               ng-click="topicEditService.favour(expression, 0)">
                <i class="fa fa-star-o"></i>
            </a>
        </div>
        <div class="">
            <a class="btn-xs" href=""
               ng-click="topicEditService.favour(expression, 2)">
                <i class="fa fa-star"></i>
            </a>
        </div>
        <div class="">
            <a class="btn-xs" href=""
               ng-click="topicEditService.favour(expression, 3)">
                <i class="fa fa-star"></i>
            </a>
        </div>
        <div class="">
            <a class="btn-xs" href=""
               ng-click="topicEditService.favour(expression, 4)">
                <i class="fa fa-star"></i>
            </a>
        </div>
        <!--<div class=" btn-xs btn-default">-->
        <!--<a class="btn-xs" href=""-->
        <!--ng-click="topicEditService.favour(expression, 0)">-->
        <!--<i class="fa fa-star-o"></i>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class=" btn-xs btn-default">-->
        <!--<a class="btn-xs" href=""-->
        <!--ng-click="topicEditService.favour(expression, 2)">-->
        <!--<i class="fa fa-star"></i>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class=" btn-xs btn-default">-->
        <!--<a class="btn-xs" href=""-->
        <!--ng-click="topicEditService.favour(expression, 3)">-->
        <!--<i class="fa fa-star"></i><i class="fa fa-star"></i>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class=" btn-xs btn-default">-->
        <!--<a class="btn-xs" href=""-->
        <!--ng-click="topicEditService.favour(expression, 4)">-->
        <!--<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>-->

        <!--</a>-->
        <!--</div>-->
    </div>
</div>