<div class="col-xs-12">
    <div ng-show="!service.editingNote && !service.topic.noteAsHtml"
         ng-dblclick="service.startEditingNote()"
         class="well well-sm">
        <p style="font-style: italic; color: #D1D1D1;">Topic Description</p>
    </div>
    <!--<div ng-show="!service.editingNote && service.topic.noteAsHtml"-->
    <!--ng-bind-html="service.topic.noteAsHtml"-->
    <!--ng-dblclick="service.startEditingNote()"-->
    <!--class="well well-sm">-->
    <!--</div>-->
    <!--<div ng-show="service.editingNote">-->
    <!--<textarea ck-editor="service.ckeditor.options" -->
    <!--ng-model="service.topic.noteAsHtml" -->
    <!--ready="service.ckeditor.onReady()"></textarea>-->
    <!--<br/>-->
    <!--<button class="btn btn-success" ng-click="service.stopEditingNote()">Preview</button>-->
    <!--</div>-->

    <!--Expression Type-->
    <!--<div>-->
    <!--<label>Expression Type: </label>-->

    <!--<input type="radio" ng-model="service.topic.defaultExpressionType" ng-change="service.selectExpressionType()" value="word" name="optionsRadios"> Word-->
    <!--<input type="radio" ng-model="service.topic.defaultExpressionType" ng-change="service.selectExpressionType()" value="phrasal verb" name="optionsRadios"> Phrasal Verb-->
    <!--</div>-->
</div>
