<style>
    .topic-title {
        font-style: italic;
        font-weight: bolder;
        /*font-size: 120%;*/
    }
</style>
<div class="page-title">
    <div class="title_left">
        <h3>
        </h3>
        <a href="#!/topic-edit"><i class="fa fa-file-text"></i> New</a>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Topics...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- Topic -->
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    My Topics
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>

                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Expression Items Table -->

                <div ng-repeat="topic in topicsService.topics" class="col-md-4 col-sm-6 col-xs-12 profile_details">
                    <div class="well profile_view">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-10">
                                    <h4 class="brief">
                                        <input class="topic-title input-as-text"
                                               ng-model="topic.title"
                                               title="{{topic.title}}"
                                               ng-change="topicsService.rename(topic)" ng-model-options="{debounce: 1500}"/>
                                    </h4>
                                    <span class="small">{{topic.createdDateTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                                </div>
                                <div class="col-xs-2">
                                    <a class="btn btn-xs btn-danger" href="" ng-click="topicsService.removeTopic(topic)">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </div>
                            </div>
                            <div ng-bind-html="topic.noteAsHtml"></div>
                            <div>
                                <ul class="list-unstyled">
                                    <!--<li ng-repeat="expression in topic.expressionIds" ng-if="$index < 3">-->
                                    <!--&lt;!&ndash;<i class="fa fa-language"></i> &ndash;&gt;-->
                                    <!--{{expression.text}}-->
                                    <!--</li>-->
                                    <li ng-show="topic.expressionIds.length > 0">
                                        {{topic.expressionIds.length}} expression<span ng-show="topic.expressionIds.length > 1">s</span>
                                    </li>
                                    <li ng-show="!topic.expressionIds || topic.expressionIds.length == 0">
                                        Empty topic
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-8 emphasis">
                                <p class="ratings">
                                    <a class="small">{{topic.expressions.length}}
                                        <span ng-show="topic.expressions.length <= 1"> expression</span>
                                        <span ng-show="topic.expressions.length > 1"> expressions</span>
                                    </a>
                                    <!--<a href="#"><span class="fa fa-star"></span></a>-->
                                    <!--<a href="#"><span class="fa fa-star"></span></a>-->
                                    <!--<a href="#"><span class="fa fa-star"></span></a>-->
                                    <!--<a href="#"><span class="fa fa-star"></span></a>-->
                                    <!--<a href="#"><span class="fa fa-star-o"></span></a>-->
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 emphasis">
                                <a class="btn btn-xs btn-success" href="#!/topic-edit?topicId={{topic.id}}" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-success" href="#!/practice?topicId={{topic.id}}" title="Test">
                                    <i class="fa fa-tasks"></i>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>