<div class="col-md-2">
    <a href="" ng-click="topicEditService.constructNewTopic()"><i class="fa fa-file-text"></i> New</a>
</div>

<div class="col-md-2">
    <a href='' title=''
       dropdown-menu="topicEditService.menu.items"
       dropdown-model="topicEditService.menu.selectedItem"
       dropdown-item-label="text">
        <i class="fa fa-folder-open"></i> Recent Topics
    </a>
</div>
<div class="col-md-2">
    <a href="#!/practice?topicId={{topicEditService.topic.id}}"><i class="fa fa-tasks"></i> Practice this Topic</a>
</div>
<div class="col-md-2">
    <a href="" ng-show="topicEditService.topic.id" ng-click="topicEditService.removeTopic()"><i class="fa fa-close text-red"></i> Remove Topic</a>
</div>