<div class="white-smoke-teaser teaser-wrapper">
    <div class="teaser-content">
        <div class="teaser-content-section top-tools">
            <div class="pull-left small">
                <div ng-show="topic.expressionIds.length > 0">
                    {{topic.expressionIds.length}} expression<span ng-show="topic.expressionIds.length > 1">s</span>
                </div>
                <div ng-show="!topic.expressionIds || topic.expressionIds.length == 0">
                    Empty topic
                </div>
            </div>
            <div class="pull-right small">
                <span>{{topic.createdDateTime | date:'dd MMM yyyy hh:mm:ss'}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="teaser-content-section header">
            <input type="text"
                   ng-model="topic.title"
                   title="{{topic.title}}"
                   ng-change="service.rename(topic)" ng-model-options="{debounce: 1500}"
                   class="input-as-text" placeholder="Title"/>
        </div>
        <div class="teaser-content-section body">
            <div class="description" ng-bind-html="topic.noteAsHtml">
            </div>
        </div>
        <div class="teaser-content-section bottom-tools footer">
            <div class="teaser-tool">
                <a class="" href="#!/topic-edit?topicId={{topic.id}}" title="Edit">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
            <div class="teaser-tool">
                <a class="" href="#!/practice?topicId={{topic.id}}" title="Test">
                    <i class="fa fa-tasks"></i>
                </a>
            </div>
            <div class="teaser-tool">
                <div tnmk-dropdown>
                    <div class="tnmk-dropdown-header teaser-tool">
                        <a href='' title=''>
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <div class="tnmk-dropdown-body teaser-tool">
                        <a href="" ng-click="service.removeTopic(topic)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>