.error-message {
    color: #b92c28;
}

.input-btn-text-left {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-right: 0px;
    box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.25);
}

.input-btn-right {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-left: 0px;
    background: #ededed;
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.6);
}

.text-success {
    color: #26B99A;
}

.btn.dark-theme {
    background: #73879C;
    border: 1px solid rgba(42, 63, 84, 0.5);

    box-shadow: inset 1px 1px 0px rgba(175, 191, 208, 0.7), 1px 1px 0px rgba(175, 191, 208, 0.7);
}

.input-as-text {
    background: transparent;
    font-size: inherit;
    line-height: inherit;

    width: 100%;
    color: rgb(115, 135, 156);
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    box-shadow: none;
    line-height: 20px;

    padding: 1px 1px 0px 0px; /* Top-Right-Bottom-Left: The bottom has border, so it doesn't need padding anymore*/
    border-width: 0px 0px 1px 1px;
    border-style: dotted;
    border-left-color: rgba(0, 0, 0, 0.05);
    outline-color: transparent;
}

.input-as-text:not(:focus) {
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.input-as-text:focus {
    /*padding: 1px 0px 0px 0px; !* The bottom has border, so it doesn't need padding anymore*!*/
    /*border-width: 0px 1px 1px 1px;*/
    /*border-style: solid;*/
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.input-as-text.text-danger {
    color: #b92c28;
}

.input-as-text.text-success {
    color: #26B99A;
}

.expression-item {
    padding: 0px 5px;
}

/**
// EXPRESSION TEASER //////////////////////////////////////////////////////////////////////////////////////////////
**/
.expression-teaser {
    min-height: 20px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background: #F5F5F5;
}

.expression-teaser .header {
    padding: 10px;
    background-color: #e9e9e9;
    /*font-style: italic;*/
    font-weight: bold;
    font-size: 110%;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;

    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.expression-teaser .header .input-as-text {
    width: 100%;
    /*background: transparent;*/
    /*border-bottom-color: #c9c9c9;*/
}

.expression-teaser .body {
    padding: 0px 10px 0px 10px;
}

.expression-teaser .body .lexical-type {
    margin-top: 10px;
    text-transform: lowercase;
    padding: 2px 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;

    background: #e5e5e5;
    border: 1px solid #d0d0d0;
    color: #5A738E;
    min-width: 50px;
    width: 50px;
}

.expression-teaser .sense-image {
    max-width: 100%;
    max-height: 200px;
}

.expression-teaser .image-border {
    background: transparent;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
    border: 1px solid #f9f9f9;
}

.expression-teaser .footer {
    padding: 0px 10px 10px 10px;
}

.expression-teaser .footer .more {
    display: block;
    padding: 0px 10px 0px 10px;
}

.expression-teaser .footer .more:hover {
    background: #f7f7f7;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}

.expression-teaser .sense-group:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 1px 0 white;
}

.expression-teaser .sense:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 1px 0 white;
}

.expression-teaser .sense-header {
    color: #2c3546;
}

.expression-teaser .sense-explanation {
    color: #4B5F71;
    font-style: italic;
}

.expression-teaser .sense-example {
    padding-left: 15px;
    font-style: italic;
}

.wrap-dd-menu {
    padding: 0px;
}

datalist option {
    color: #00AA88;
    font-weight: lighter;
}

.expression-editor {
    /*min-height: 20px;*/
    margin-bottom: 20px;
    border: 1px solid #4f6378;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.expression-editor .expression.header {
    padding: 10px;
    background-color: #73879C;
    font-style: italic;
    font-weight: bold;
    font-size: 110%;
    border-bottom: 1px solid #5A738E;

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.expression-editor .expression.body {
    padding: 10px;
    background: #2A3F54;
}

.expression-editor .expression-relations {
    padding: 10px 10px 0px 10px;
    background: #2A3F54;
}

.expression-editor .expression-relations .input-as-text {
    width: 100%;
}

.expression-editor .sense-group {
    background: #f9f9f9;
    padding: 10px;

    border: 1px solid #e0e0e0;

    border-radius: 4px;
    -moz-border-radius: 4px;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.expression-editor .sense-group.dark-theme {
    background: #73879C;
    border: 1px solid #88a1bb;
}

.expression-editor .sense-group:not(:last-child) {
    margin-bottom: 10px;
}

.expression-editor .sense-group-header {
    margin-bottom: 10px;
}

.expression-editor .sense-group-label {
    /*margin-top: 10px;*/
    font-weight: bolder;
    text-align: center;
    text-transform: lowercase;
    padding: 2px 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;

    /*background: #f0f0f0;*/
    /*border: 1px solid #e3e3e3;*/
    /*border-bottom: 1px dotted #a0a0a0;*/

    background: #26B99A;
    border: 1px solid #48c5aa;
    border-bottom: 1px dotted #73f9dd;
    color: #F7F7F7;
    min-width: 50px;
    width: 50px;
}

.expression-editor .sense {
    border-top: 1px solid #ddd;
    box-shadow: inset 0 1px 1px #ffffff;
    padding-top: 10px;
}

.expression-editor .sense:not(:first-child) {
    margin-top: 10px;
}

.expression-editor .sense.dark-theme {
    border-top: 1px solid rgba(42, 63, 84, 0.5);
    box-shadow: inset 0 1px 0px rgba(175, 191, 208, 0.7);
}

.expression-editor .input-as-text::-webkit-input-placeholder {
    color: #d0d0d0;
    font-weight: lighter;
}

.expression-editor .sense .sense-photos {
    margin-top: 10px;
}

.expression-editor .sense .example .input-as-text {
    color: #169F85;
    font-style: italic;
}

.expression-editor .sense .example .input-as-text.dark-theme {
    color: #aac9e8;
}

.expression-editor .sense .img-explanation {
    display: block;
    margin: auto; /*center*/
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px; /*It should be 300px, but there are padding in border with 5px each side -> 300 - 5*2 = 290px*/
}

.img-with-close-wrapper {
    position: relative;
}

.img-with-close-wrapper .img-btn-close {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100;
}

.img-with-close-wrapper .arrow-right {
    position: absolute;
    top: 0px;
    right: 15px;
    height: 100%;
    display: block;
}

.btn-dark {
    background: #444;
    color: whitesmoke;
    border: 1px solid white;
}

.expression-editor .footer {
    padding: 5px;
    background: #3e5369;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

.arrow-right .middle-wrapper {
    position: absolute;
}

.middle-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.middle-vertical {
    display: table-cell;
    vertical-align: middle;
}

.middle-horizontal {
    margin-left: auto;
    margin-right: auto;
    width: 100%; /*whatever width you want*/;
}

.image-border {
    display: block;
    padding: 4px;
    /*margin-bottom: 20px;*/
    /*line-height: 1.42857143;*/
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    /*width: 100%;*/
    /*height: 100%;*/
}

.image-border .image-content {
    display: block;
    margin: auto;
}

.image-profile {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.images-list {
    overflow-x: scroll;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ffffff;
    box-shadow: -1px 0px 0px #ffffff, 1px 0px 0px rgba(0, 0, 0, 0.4);
    max-height: 300px;
}

.images-list .image-item {
    margin-bottom: 10px;
    background: #ccc;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.images-list .image-item:hover {
    box-shadow: inset 0px 0px 1px #FFFFFF;
}

.images-list .image-item img {
    display: block;
    margin: auto; /*center*/

    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;

    max-width: 100%;
    max-height: 100px;

}

.input-as-text.dark-theme {
    color: #E7E7E7;
    border-color: #5A738E;
    /*border-color: rgba(255, 255, 255, 0.25);*/
}

.input-as-text.dark-theme:focus {
    border-width: 0px 0px 1px 1px;
}

.input-as-text.dark-theme::-webkit-input-placeholder {
    color: #95adc5;
}

.fa.dark-theme {
    color: #E7E7E7;
}

.file-upload-drop-zone {
    min-height: 100px;
    min-width: 100px;
    border-radius: 4px;
    /*border: 1px solid #ccc;*/
    /*background: #f0f0f0;*/
    /*-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);*/
    /*-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);*/
    /*box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);*/
    text-align: center;
}

.file-upload-drop-zone-hover {
    /*border: 1px solid #aaa;*/
}

.main-photo {
    /*border-top: 1px solid #4f6378;*/
    box-shadow: inset 0px 0px 2px #464e56;
    background: #4f6378;
    padding: 5px;
}

.images-carousel {
    overflow-x: auto;
    overflow-y: hidden;

    height: 90px;
    margin: 5px auto;
    border-top: 1px solid rgb(79, 99, 120);
    border-bottom: 1px solid rgb(79, 99, 120);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);

}

.images-carousel ul {
    float: left;
    margin-right: -999em;
    white-space: nowrap;
    list-style: none;
    padding: 0px;
}

.images-carousel li {
    /*margin: 1px 150px 0px 0px;*/
    text-align: center;
    float: left;
    display: inline;
    height: 90px;
    padding: 0px 5px 0px 6px;
    border-right: 1px solid rgb(79, 99, 120);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15);
}

.images-carousel a {
    text-decoration: none;
    /*font-weight: bold;*/
    /*color: #000;*/
}

.images-carousel img {
    display: block;
    max-width: 400px;
    max-height: 80px;

}

/*.images-carousel span {*/
/*padding: 5px 0 0;*/
/*display: block;*/
/*}*/

/*.image-clip-container {*/
/*position: relative;*/
/*}*/

/*.image-clip-content {*/
/*position: absolute;*/
/*clip: rect(0, 100px, 100px, 0);*/
/*!* clip: shape(top, right, bottom, left); NB 'rect' is the only available option *!*/
/*}*/
.question-type {
    padding: 10px 0px;
}

.question-answer {
    font-size: 13px;
}

.fill-blank {
    padding: 10px;
    background: #f9f9f9;
    margin-top: 10px;
    border: 1px solid #f0f0f0;
}

.input-fill-blank {
    width: 150px;
    border-bottom-color: #c0c0c0 !important;
}

.answer-point.text-danger {
    color: #ccc;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;

    top: 40px; /*Leave a space so that we can click to the close button.*/
    padding: 0px 20px 20px 20px;
    width: 100%;
    text-align: center;
}

.overlay .overlay-btn-close {
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 18px;
    color: #85909d;
}

.overlay .overlay-btn-close:hover {
    color: #aaa;
}

@media screen and (max-height: 450px) {
    .overlay a {
        /*font-size: 20px*/
    }

    .overlay .closebtn {
        /*font-size: 40px;*/
        top: 15px;
        right: 35px;
    }
}