<div class="expression-spatial-white teaser-float-wrapper teaser-4-cols" ng-repeat="expression in service.topic.expressions track by $index">
    <div class="teaser-content"
         ng-if="service.editingExpression != expression"
         ng-include="contextPath + '/app/topic/topic-edit-expression-teaser.html'">
    </div>
    <div class="row expression-item"
         ng-if="(service.editingExpression && service.editingExpression == expression)"
         ng-include="contextPath + '/app/topic/topic-edit-expression-editor.html'">
    </div>
</div>