<!--<div class="pull-left rating-empty-container">-->
<!--<span class="rating-item" ng-class="expression.favourite == 0 ? 'selected': ''" ng-click="service.favour(expression, 0)"></span>-->
<!--</div>-->
<div class="text-left pull-left">
    <span class="rating-label">Answer </span>
</div>
<div class="pull-left">
    <span ng-repeat="ianswerResult in questionWithPracticeResult.expressionPracticeResult.answers track by $index" ng-if="$index >= questionWithPracticeResult.expressionPracticeResult.answers.length - 10"
          title="{{questionWithPracticeResult.expressionPracticeResult.sumLatestAnswerPoint}}">
        <i class="answer-point indexing-item fa" ng-class="ianswerResult > 0 ? 'fa-dot-circle-o text-success': 'fa-circle-o text-danger'"></i>
    </span>
</div>
<div class="clearfix"></div>