<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/node_modules/angular/angular.min.js}"></script>
<script th:src="@{/node_modules/angular-route/angular-route.min.js}"></script>
<script th:src="@{/node_modules/angular-resource/angular-resource.min.js}"></script>
<script th:src="@{/node_modules/angular-file-model/angular-file-model.js}"></script>
<script th:src="@{/node_modules/angular-cookies/angular-cookies.min.js}"></script>
<script th:src="@{/node_modules/angular-sanitize/angular-sanitize.min.js}"></script>

<script th:src="@{/node_modules/angular-dropdowns/dist/angular-dropdowns.min.js}"></script>
<script th:src="@{/extends/angular-dropdowns-ext.js}"></script>

<script th:src="@{/node_modules/ngstorage/ngStorage.min.js}"></script>
<script th:src="@{/node_modules/angucomplete-alt/dist/angucomplete-alt.min.js}"></script>
<!--<script th:src="@{/node_modules/angular-ckeditor/angular-ckeditor.min.js}"></script>-->
<script th:src="@{/node_modules/angular-ckeditor/bower_components/ckeditor/ckeditor.js}"></script>
<script th:src="@{/node_modules/angular-hotkeys/build/hotkeys.min.js}"></script>
<!--<script th:src="@{/node_modules/ng-file-upload/dist/ng-file-upload.min.js}"></script>-->
<script th:src="@{/node_modules/angular-file-upload/dist/angular-file-upload.min.js}"></script>


<script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>


<!-- BOOTSTRAP THEME -->
<!-- jQuery -->
<script th:src="@{/node_modules/gentelella/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/node_modules/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/node_modules/gentelella/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script th:src="@{/node_modules/gentelella/vendors/nprogress/nprogress.js}"></script>
<!-- Chart.js -->
<script th:src="@{/node_modules/gentelella/vendors/Chart.js/dist/Chart.min.js}"></script>
<!-- gauge.js -->
<!--<script th:src="@{/node_modules/gentelella/vendors/echarts/dist/echarts.min.js"></script>-->
<!--<script th:src="@{/node_modules/gentelella/vendors/gauge.js/dist/gauge.min.js"></script>-->
<!-- bootstrap-progressbar -->
<script th:src="@{/node_modules/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
<!-- iCheck -->
<script th:src="@{/node_modules/gentelella/vendors/iCheck/icheck.min.js}"></script>
<!-- Skycons -->
<script th:src="@{/node_modules/gentelella/vendors/skycons/skycons.js}"></script>
<!-- Flot -->
<script th:src="@{/node_modules/gentelella/vendors/Flot/jquery.flot.js}"></script>
<script th:src="@{/node_modules/gentelella/vendors/Flot/jquery.flot.pie.js}"></script>
<script th:src="@{/node_modules/gentelella/vendors/Flot/jquery.flot.time.js}"></script>
<script th:src="@{/node_modules/gentelella/vendors/Flot/jquery.flot.stack.js}"></script>
<script th:src="@{/node_modules/gentelella/vendors/Flot/jquery.flot.resize.js}"></script>
<!-- Flot plugins -->
<!--<script th:src="@{/node_modules/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>-->
<!--<script th:src="@{/node_modules/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>-->
<!--<script th:src="@{/node_modules/gentelella/vendors/flot.curvedlines/curvedLines.js}"></script>-->
<!-- DateJS -->
<!--<script th:src="@{/node_modules/gentelella/vendors/DateJS/build/date.js}"></script>-->
<!-- JQVMap -->
<!--<script th:src="@{/node_modules/gentelella/vendors/jqvmap/dist/jquery.vmap.js"></script>-->
<!--<script th:src="@{/node_modules/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>-->
<!--<script th:src="@{/node_modules/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->
<!-- bootstrap-daterangepicker -->
<!--<script th:src="@{/node_modules/gentelella/production/js/moment/moment.min.js}"></script>-->
<!--<script th:src="@{/node_modules/gentelella/production/js/datepicker/daterangepicker.js}"></script>-->

<!-- Custom Theme Scripts -->
<script th:src="@{/node_modules/gentelella/build/js/custom.min.js}"></script>


<!-- APP -->
<script th:src="@{/common/jscommon.js}"></script>
<script th:src="@{/common/jscommon-reflection.js}"></script>
<script th:src="@{/common/jscommon-list.js}"></script>
<script th:src="@{/common/jsvalidation.js}"></script>
<script th:src="@{/common/search.js}"></script>
<script th:src="@{/common/paging-reactive.js}"></script>
<script th:src="@{/common/youtube-module.js}"></script>
<script th:src="@{/common/common-service.js}"></script>
<script th:src="@{/common/composite-editor.js}"></script>
<script th:src="@{/common/filter-collection.js}"></script>

<script th:src="@{/app/app.js}"></script>
<script th:src="@{/app/app-directives.js}"></script>
<script th:src="@{/app/app-exceptions.js}"></script>
<script th:src="@{/app/app-oauth2.js}"></script>
<script th:src="@{/app/app-routes.js}"></script>


<script th:src="@{/app/expression/expressions-service.js}"></script>
<script th:src="@{/app/topic/topics-service.js}"></script>
<script th:src="@{/app/topic/topic-edit-service.js}"></script>
<script th:src="@{/app/practice/practice-test.js}"></script>
<script th:src="@{/app/practice/practice-test-expression-recall.js}"></script>
<script th:src="@{/app/practice/practice-test-fill-blank.js}"></script>
<script th:src="@{/app/practice/practice-service.js}"></script>

</html>