<div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li><a><i class="fa fa-suitcase"></i> Vocabulary <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#!/topics">Topics</a></li>
                <li><a href="#!/expression-items">Lessons</a></li>
                <li><a href="#!/expression-item-edit">Lesson Editor</a></li>
                <li><a href="#!/expression-item-test">Vocabularies Testing</a></li>
            </ul>
        </li>
    </ul>
</div>

